body{
        font-family: sans-serif;
        font-size: 35;
    }
    #title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .table{
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 350px;
        width: inherit;
        border-collapse: collapse;
    }
    .images{
        height: 300px;
        width: inherit;
        
    }
.head{
    text-align: center;
}
.date
{
    float:left;
}